.hello-world-button {
  font-family: monospace;
  background: linear-gradient(gray, black);
  font-size: 1.5em;
  border-radius: 5px;
  color: white;
  padding: 7px 15px;
}
.hello-world-button:active {
  background: linear-gradient(black, gray);
}
